.features-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    
}
#features {
    background-color: #F8F5FF;
}
#features h1 {
    text-align: center;
    padding-top: 50px;
}

.features-half-1 h3, .features-half-2 h3 {
    font-weight: bold;
    padding-bottom: 10px;
}
.features-half-1 p, .features-half-2 p {
    color: gray;
}
.features-half-1 .feature {
    text-align: right;
}
.feature-container {
    display: flex;
    gap: 8%;
    padding: 30px;
    align-items: center;
}


